body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #eb9fa8 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #eb9fa8 !important;
  border-color: #eb9fa8 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #dc5767 !important;
  border-color: #dc5767 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #dc5767 !important;
  border-color: #dc5767 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eb9fa8;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #dc5767 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #eb9fa8 !important;
  border-color: #eb9fa8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #eb9fa8 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #d94b5c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #eb9fa8;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #eb9fa8;
  border-color: #eb9fa8;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #eb9fa8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #eb9fa8 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #eb9fa8;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #eb9fa8;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #eb9fa8;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #eb9fa8;
  border-bottom-color: #eb9fa8;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #eb9fa8 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23eb9fa8' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tvXk3jmzyj {
  position: sticky;
  top: 0;
  z-index: 11;
}
.cid-tvXk3jmzyj .navbar-dropdown {
  position: relative !important;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
}
@media (max-width: 991px) {
  .cid-tvXk3jmzyj .navbar-dropdown {
    padding: 0 1rem;
  }
}
.cid-tvXk3jmzyj .navbar {
  position: static !important;
  min-height: 77px;
  transition: 0.2s;
  background: #000000;
  display: flex;
  flex-direction: column;
}
.cid-tvXk3jmzyj .navbar.opened {
  transition: all 0.2s;
  background: #000000 !important;
}
.cid-tvXk3jmzyj .navbar .dropdown-item {
  transition: all 0.2s;
  padding: 0.3rem 1.5rem;
  border-bottom: 1px solid #000000;
  color: #132c70;
  background: #000000 !important;
}
.cid-tvXk3jmzyj .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-tvXk3jmzyj .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-tvXk3jmzyj .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tvXk3jmzyj .navbar .dropdown-menu {
  min-width: 300px;
  padding: 3px 0 0 0;
  box-shadow: 5px 5px 18px 0px rgba(217, 220, 242, 0.98);
  background: transparent !important;
}
.cid-tvXk3jmzyj .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #eb9fa8;
}
.cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-tvXk3jmzyj .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tvXk3jmzyj .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: 70.28571429vh;
  }
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tvXk3jmzyj .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-tvXk3jmzyj .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.2em;
}
.cid-tvXk3jmzyj .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-tvXk3jmzyj .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-tvXk3jmzyj .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .cid-tvXk3jmzyj .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tvXk3jmzyj .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-tvXk3jmzyj .navbar .nav-dropdown .link {
    margin: 0.667em 1.2em;
  }
  .cid-tvXk3jmzyj .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
  }
  .cid-tvXk3jmzyj .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-tvXk3jmzyj .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .cid-tvXk3jmzyj .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-tvXk3jmzyj .navbar .social-block {
    display: none;
  }
}
@media (max-width: 1200px) {
  .cid-tvXk3jmzyj .navbar.navbar-short {
    min-height: 60px;
  }
}
@media (min-width: 1200px) {
  .cid-tvXk3jmzyj .navbar.navbar-short {
    min-height: 60px;
  }
}
.cid-tvXk3jmzyj .navbar.navbar-short .social-block {
  top: 1rem;
}
.cid-tvXk3jmzyj .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-tvXk3jmzyj .navbar.navbar-short .navbar-brand {
  padding: 0;
  margin-bottom: 0;
  height: 0px;
  opacity: 0;
  min-height: 0px;
}
.cid-tvXk3jmzyj .navbar-brand {
  height: 16rem;
  min-height: 3rem;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.2s;
  word-break: break-word;
  z-index: 1;
  display: flex;
  margin-bottom: 1rem;
  opacity: 1;
}
.cid-tvXk3jmzyj .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tvXk3jmzyj .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tvXk3jmzyj .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-tvXk3jmzyj .dropdown-item.active,
.cid-tvXk3jmzyj .dropdown-item:active {
  background-color: transparent;
}
.cid-tvXk3jmzyj .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
}
.cid-tvXk3jmzyj .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tvXk3jmzyj .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tvXk3jmzyj .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-tvXk3jmzyj .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-tvXk3jmzyj .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tvXk3jmzyj ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-tvXk3jmzyj .navbar-buttons {
  text-align: center;
}
.cid-tvXk3jmzyj button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tvXk3jmzyj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #8600ff;
}
.cid-tvXk3jmzyj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.2s;
}
.cid-tvXk3jmzyj nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.cid-tvXk3jmzyj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXk3jmzyj a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.cid-tvXk3jmzyj .mbr-iconfont {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  color: #132c70;
}
.cid-tvXk3jmzyj .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-tvXk3jmzyj .nav-dropdown .link {
  margin: 1.667em 1.2em;
  font-weight: 700;
}
.cid-tvXk3jmzyj .nav-link:hover,
.cid-tvXk3jmzyj .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-tvXk3jmzyj .social-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 2.5rem;
  max-width: 1300px;
  transition: 0.2s;
}
.cid-tvXk3jmzyj .social {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.cid-tvXk3jmzyj .social-2 {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}
.cid-tLNQv7e91x {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tLNQv7e91x .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLNQv7e91x .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tLNQv7e91x .mbr-section-title {
  color: #ffffff;
}
.cid-tvXk40hAoN {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  position: relative;
  margin-top: -1px;
  overflow: hidden;
}
.cid-tvXk40hAoN .section-border-item {
  background-color: #fcdb42;
}
.cid-tvXk40hAoN .mbr-text {
  color: #FFFFFF;
}
.cid-tvXk40hAoN .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-tvXnHqPP8r {
  position: sticky;
  top: 0;
  z-index: 11;
}
.cid-tvXnHqPP8r .navbar-dropdown {
  position: relative !important;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
}
@media (max-width: 991px) {
  .cid-tvXnHqPP8r .navbar-dropdown {
    padding: 0 1rem;
  }
}
.cid-tvXnHqPP8r .navbar {
  position: static !important;
  min-height: 77px;
  transition: 0.2s;
  background: #000000;
  display: flex;
  flex-direction: column;
}
.cid-tvXnHqPP8r .navbar.opened {
  transition: all 0.2s;
  background: #000000 !important;
}
.cid-tvXnHqPP8r .navbar .dropdown-item {
  transition: all 0.2s;
  padding: 0.3rem 1.5rem;
  border-bottom: 1px solid #000000;
  color: #132c70;
  background: #000000 !important;
}
.cid-tvXnHqPP8r .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-tvXnHqPP8r .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-tvXnHqPP8r .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tvXnHqPP8r .navbar .dropdown-menu {
  min-width: 300px;
  padding: 3px 0 0 0;
  box-shadow: 5px 5px 18px 0px rgba(217, 220, 242, 0.98);
  background: transparent !important;
}
.cid-tvXnHqPP8r .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #eb9fa8;
}
.cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-tvXnHqPP8r .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tvXnHqPP8r .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: 70.28571429vh;
  }
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tvXnHqPP8r .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-tvXnHqPP8r .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.2em;
}
.cid-tvXnHqPP8r .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-tvXnHqPP8r .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-tvXnHqPP8r .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .cid-tvXnHqPP8r .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tvXnHqPP8r .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-tvXnHqPP8r .navbar .nav-dropdown .link {
    margin: 0.667em 1.2em;
  }
  .cid-tvXnHqPP8r .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
  }
  .cid-tvXnHqPP8r .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-tvXnHqPP8r .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .cid-tvXnHqPP8r .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-tvXnHqPP8r .navbar .social-block {
    display: none;
  }
}
@media (max-width: 1200px) {
  .cid-tvXnHqPP8r .navbar.navbar-short {
    min-height: 60px;
  }
}
@media (min-width: 1200px) {
  .cid-tvXnHqPP8r .navbar.navbar-short {
    min-height: 60px;
  }
}
.cid-tvXnHqPP8r .navbar.navbar-short .social-block {
  top: 1rem;
}
.cid-tvXnHqPP8r .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-tvXnHqPP8r .navbar.navbar-short .navbar-brand {
  padding: 0;
  margin-bottom: 0;
  height: 0px;
  opacity: 0;
  min-height: 0px;
}
.cid-tvXnHqPP8r .navbar-brand {
  height: 16rem;
  min-height: 3rem;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.2s;
  word-break: break-word;
  z-index: 1;
  display: flex;
  margin-bottom: 1rem;
  opacity: 1;
}
.cid-tvXnHqPP8r .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tvXnHqPP8r .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tvXnHqPP8r .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-tvXnHqPP8r .dropdown-item.active,
.cid-tvXnHqPP8r .dropdown-item:active {
  background-color: transparent;
}
.cid-tvXnHqPP8r .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
}
.cid-tvXnHqPP8r .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tvXnHqPP8r .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tvXnHqPP8r .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-tvXnHqPP8r .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-tvXnHqPP8r .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tvXnHqPP8r ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-tvXnHqPP8r .navbar-buttons {
  text-align: center;
}
.cid-tvXnHqPP8r button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tvXnHqPP8r button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #8600ff;
}
.cid-tvXnHqPP8r button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.2s;
}
.cid-tvXnHqPP8r nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.cid-tvXnHqPP8r nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXnHqPP8r a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.cid-tvXnHqPP8r .mbr-iconfont {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  color: #132c70;
}
.cid-tvXnHqPP8r .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-tvXnHqPP8r .nav-dropdown .link {
  margin: 1.667em 1.2em;
  font-weight: 700;
}
.cid-tvXnHqPP8r .nav-link:hover,
.cid-tvXnHqPP8r .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-tvXnHqPP8r .social-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 2.5rem;
  max-width: 1300px;
  transition: 0.2s;
}
.cid-tvXnHqPP8r .social {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.cid-tvXnHqPP8r .social-2 {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}
#custom-html-4 {
  /* Main Store Header */
  /* Navigation Link */
  /* Main Store Header */
  /* Review Stars */
  /* Review Counter */
  /* BEGIN Item Details */
  /* END Item Details */
}
#custom-html-4 .sprd-header__title {
  font-family: Abril Fatface, sans-serif;
}
#custom-html-4 .sprd-nav-link {
  font-family: alfa slab one, sans-serif;
}
#custom-html-4 .sprd__caption-link {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-info__subheading-title {
  font-family: jost, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-info__heading {
  font-family: Abril Fatface, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-startpage-preview-tiles__name {
  font-family: jost, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-info__rating-icon {
  color: black;
}
#custom-html-4 .sprd-detail-info__review-count {
  color: black;
}
#custom-html-4 .sprd-detail-product-type__heading {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-product-type__column__toggle {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-product-type__headingsprd__headline {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-column__caption {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-detail-suggestions__caption {
  font-family: alfa slab one, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-product-list-item__title {
  font-family: jost, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-department-filter__entry {
  font-family: jost, sans-serif;
}
#custom-html-4 .sprd-link {
  font-family: jost, sans-serif;
}
#custom-html-4 .sprd-filterpane-section__title {
  font-family: jost, sans-serif;
  font-weight: bold;
}
#custom-html-4 .sprd-listpage__title {
  font-family: Abril Fatface, sans-serif;
  font-weight: bold;
  color: black;
}
#custom-html-4 .sprd-button {
  font-family: jost, sans-serif;
  font-weight: bold;
}
#custom-html-4 .sprd-info-footer__link {
  font-family: jost, sans-serif;
}
.cid-tvXnHrcVEN {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  position: relative;
  margin-top: -1px;
  overflow: hidden;
}
.cid-tvXnHrcVEN .section-border-item {
  background-color: #fcdb42;
}
.cid-tvXnHrcVEN .mbr-text {
  color: #FFFFFF;
}
.cid-tvXnHrcVEN .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-tvXrCLwDCN {
  position: sticky;
  top: 0;
  z-index: 11;
}
.cid-tvXrCLwDCN .navbar-dropdown {
  position: relative !important;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
}
@media (max-width: 991px) {
  .cid-tvXrCLwDCN .navbar-dropdown {
    padding: 0 1rem;
  }
}
.cid-tvXrCLwDCN .navbar {
  position: static !important;
  min-height: 77px;
  transition: 0.2s;
  background: #000000;
  display: flex;
  flex-direction: column;
}
.cid-tvXrCLwDCN .navbar.opened {
  transition: all 0.2s;
  background: #000000 !important;
}
.cid-tvXrCLwDCN .navbar .dropdown-item {
  transition: all 0.2s;
  padding: 0.3rem 1.5rem;
  border-bottom: 1px solid #000000;
  color: #132c70;
  background: #000000 !important;
}
.cid-tvXrCLwDCN .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-tvXrCLwDCN .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-tvXrCLwDCN .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tvXrCLwDCN .navbar .dropdown-menu {
  min-width: 300px;
  padding: 3px 0 0 0;
  box-shadow: 5px 5px 18px 0px rgba(217, 220, 242, 0.98);
  background: transparent !important;
}
.cid-tvXrCLwDCN .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #eb9fa8;
}
.cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-tvXrCLwDCN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tvXrCLwDCN .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: 70.28571429vh;
  }
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tvXrCLwDCN .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-tvXrCLwDCN .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.2em;
}
.cid-tvXrCLwDCN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-tvXrCLwDCN .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-tvXrCLwDCN .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .cid-tvXrCLwDCN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tvXrCLwDCN .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-tvXrCLwDCN .navbar .nav-dropdown .link {
    margin: 0.667em 1.2em;
  }
  .cid-tvXrCLwDCN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
  }
  .cid-tvXrCLwDCN .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-tvXrCLwDCN .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .cid-tvXrCLwDCN .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-tvXrCLwDCN .navbar .social-block {
    display: none;
  }
}
@media (max-width: 1200px) {
  .cid-tvXrCLwDCN .navbar.navbar-short {
    min-height: 60px;
  }
}
@media (min-width: 1200px) {
  .cid-tvXrCLwDCN .navbar.navbar-short {
    min-height: 60px;
  }
}
.cid-tvXrCLwDCN .navbar.navbar-short .social-block {
  top: 1rem;
}
.cid-tvXrCLwDCN .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-tvXrCLwDCN .navbar.navbar-short .navbar-brand {
  padding: 0;
  margin-bottom: 0;
  height: 0px;
  opacity: 0;
  min-height: 0px;
}
.cid-tvXrCLwDCN .navbar-brand {
  height: 16rem;
  min-height: 3rem;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.2s;
  word-break: break-word;
  z-index: 1;
  display: flex;
  margin-bottom: 1rem;
  opacity: 1;
}
.cid-tvXrCLwDCN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tvXrCLwDCN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tvXrCLwDCN .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-tvXrCLwDCN .dropdown-item.active,
.cid-tvXrCLwDCN .dropdown-item:active {
  background-color: transparent;
}
.cid-tvXrCLwDCN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
}
.cid-tvXrCLwDCN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tvXrCLwDCN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tvXrCLwDCN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-tvXrCLwDCN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-tvXrCLwDCN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tvXrCLwDCN ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-tvXrCLwDCN .navbar-buttons {
  text-align: center;
}
.cid-tvXrCLwDCN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tvXrCLwDCN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #8600ff;
}
.cid-tvXrCLwDCN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.2s;
}
.cid-tvXrCLwDCN nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.cid-tvXrCLwDCN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tvXrCLwDCN a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.cid-tvXrCLwDCN .mbr-iconfont {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  color: #132c70;
}
.cid-tvXrCLwDCN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-tvXrCLwDCN .nav-dropdown .link {
  margin: 1.667em 1.2em;
  font-weight: 700;
}
.cid-tvXrCLwDCN .nav-link:hover,
.cid-tvXrCLwDCN .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-tvXrCLwDCN .social-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 2.5rem;
  max-width: 1300px;
  transition: 0.2s;
}
.cid-tvXrCLwDCN .social {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.cid-tvXrCLwDCN .social-2 {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}
.cid-tvXxzOtQKM {
  padding-top: 2rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tvXxzOtQKM .mbr-overlay {
  background-color: #212428;
  opacity: 0.2;
}
.cid-tvXxzOtQKM .container {
  padding-left: 10px;
  padding-right: 10px;
}
.cid-tvXxzOtQKM .row {
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
  align-items: stretch;
}
.cid-tvXxzOtQKM .row > [class*="col"] {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 991px) {
  .cid-tvXxzOtQKM .col-info-card {
    margin-bottom: 50px;
  }
}
.cid-tvXxzOtQKM .mbr-section-head {
  width: 100%;
  padding-bottom: 40px;
}
.cid-tvXxzOtQKM .mbr-section-title {
  color: #5bb4ed;
}
@media (max-width: 767px) {
  .cid-tvXxzOtQKM .mbr-section-title {
    text-align: center;
  }
}
.cid-tvXxzOtQKM .mbr-section-subtitle {
  color: #C4CFDE;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .cid-tvXxzOtQKM .mbr-section-subtitle {
    margin-top: 10px;
    text-align: center;
  }
}
.cid-tvXxzOtQKM .item-card {
  height: 100%;
}
.cid-tvXxzOtQKM .item-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 10px 10px 19px #c1c1c1, -10px -10px 19px #c1c1c1;
}
@media (max-width: 767px) {
  .cid-tvXxzOtQKM .item-wrap {
    padding: 50px 20px;
  }
}
.cid-tvXxzOtQKM .item-wrap:hover .item-img img {
  transform: scale(1.1);
}
.cid-tvXxzOtQKM .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.cid-tvXxzOtQKM .item-img img {
  width: 100%;
  aspect-ratio: 1.59722222;
  object-fit: cover;
  transition: 0.4s all;
}
.cid-tvXxzOtQKM .card-box {
  padding-top: 28px;
}
.cid-tvXxzOtQKM .card-title {
  color: #000000;
  margin-bottom: 9px;
  text-align: left;
}
.cid-tvXxzOtQKM .card-subtitle {
  color: #878e99;
  margin-bottom: 15px;
}
.cid-tvXxzOtQKM .card-text {
  color: #000000;
  margin-bottom: 20px;
}
.cid-tvXxzOtQKM .card-contacts {
  color: #ffffff;
}
.cid-tvXxzOtQKM .card-contacts a {
  position: relative;
  transition: 0.4s all;
}
.cid-tvXxzOtQKM .card-contacts a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #eb9fa8;
  transition: 0.4s all;
}
.cid-tvXxzOtQKM .card-contacts a:hover {
  color: #eb9fa8 !important;
}
.cid-tvXxzOtQKM .card-contacts a:hover:before {
  width: 100%;
}
.cid-tvXxzOtQKM .social-container {
  width: 100%;
  padding-top: 30px;
}
.cid-tvXxzOtQKM .social-title {
  color: #000000;
  margin-bottom: 8px;
}
.cid-tvXxzOtQKM .social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 24px;
}
.cid-tvXxzOtQKM .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px;
  min-width: 60px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 6px;
  background: linear-gradient(145deg, #bbbbbb, #d8d8d8);
  transition: 0.4s all;
}
.cid-tvXxzOtQKM .soc-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transition: 0.4s all;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
}
.cid-tvXxzOtQKM .soc-item .mbr-iconfont {
  position: relative;
  z-index: 5;
  transition: 0.4s all;
  font-size: 22px;
  color: #000000;
}
.cid-tvXxzOtQKM .soc-item:hover {
  transform: translateY(-3px);
}
.cid-tvXxzOtQKM .soc-item:hover .mbr-iconfont {
  color: #eb9fa8;
}
.cid-tvXxzOtQKM .soc-item:hover:before {
  opacity: 1;
}
.cid-tvXxzOtQKM .form-main-container {
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .cid-tvXxzOtQKM .form-main-container {
    padding-left: 20px;
  }
}
.cid-tvXxzOtQKM .form-wrap {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 19px #879a9f, -10px -10px 19px #bbbbbb;
}
@media (max-width: 575px) {
  .cid-tvXxzOtQKM .form-wrap {
    padding: 20px;
  }
}
.cid-tvXxzOtQKM form {
  width: 100%;
}
.cid-tvXxzOtQKM form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-tvXxzOtQKM form p {
  color: #6C7780;
}
.cid-tvXxzOtQKM form .mbr-section-btn {
  text-align: center;
  justify-content: center;
}
.cid-tvXxzOtQKM form .mbr-section-btn .btn {
  width: 100%;
}
.cid-tvXxzOtQKM form .form-group {
  margin-bottom: 20px !important;
}
.cid-tvXxzOtQKM form .form-control {
  background-color: #D4D8D9;
  border-radius: 6px !important;
  height: 55px;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset !important;
  border: 2px solid #191b1e !important;
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 0;
  color: #6C7780;
  font-weight: 400;
  transition: 0.4s all !important;
  line-height: 29px !important;
}
.cid-tvXxzOtQKM form .form-control::-webkit-input-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form .form-control::-moz-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form .form-control:-moz-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form .form-control:-ms-input-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form select {
  color: #6C7780 !important;
}
.cid-tvXxzOtQKM form textarea {
  height: 216px !important;
  resize: none;
}
.cid-tvXxzOtQKM form input:active,
.cid-tvXxzOtQKM form textarea:active,
.cid-tvXxzOtQKM form input:focus,
.cid-tvXxzOtQKM form textarea:focus {
  border-color: #eb9fa8 !important;
  box-shadow: none !important;
  color: #6C7780 !important;
  outline: none !important;
}
.cid-tvXxzOtQKM form input:active::-webkit-input-placeholder,
.cid-tvXxzOtQKM form textarea:active::-webkit-input-placeholder,
.cid-tvXxzOtQKM form input:focus::-webkit-input-placeholder,
.cid-tvXxzOtQKM form textarea:focus::-webkit-input-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form input:active::-moz-placeholder,
.cid-tvXxzOtQKM form textarea:active::-moz-placeholder,
.cid-tvXxzOtQKM form input:focus::-moz-placeholder,
.cid-tvXxzOtQKM form textarea:focus::-moz-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form input:active:-moz-placeholder,
.cid-tvXxzOtQKM form textarea:active:-moz-placeholder,
.cid-tvXxzOtQKM form input:focus:-moz-placeholder,
.cid-tvXxzOtQKM form textarea:focus:-moz-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form input:active:-ms-input-placeholder,
.cid-tvXxzOtQKM form textarea:active:-ms-input-placeholder,
.cid-tvXxzOtQKM form input:focus:-ms-input-placeholder,
.cid-tvXxzOtQKM form textarea:focus:-ms-input-placeholder {
  color: #6C7780;
}
.cid-tvXxzOtQKM form .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.cid-tvXxzOtQKM form .row [class*=col] {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.cid-tvXxzOtQKM form label {
  width: 100%;
  color: #6C7780;
  margin-bottom: 14px;
}
.cid-tvXxzOtQKM form .form-control-label {
  width: 100%;
}
.cid-tvXxzOtQKM form .form-check-label {
  margin-bottom: 14px;
}
.cid-tvXxzOtQKM form .form-check-input {
  border-color: #6C7780 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-tvXxzOtQKM form .form-check-input:focus,
.cid-tvXxzOtQKM form .form-check-input:hover {
  border-color: #eb9fa8 !important;
}
.cid-tvXxzOtQKM form .form-check-input:checked {
  border-color: #eb9fa8 !important;
  background-color: #6C7780 !important;
}
.cid-tvXxzOtQKM LABEL {
  color: #ffbc00;
}
.cid-tvXrCM8Hz9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  position: relative;
  margin-top: -1px;
  overflow: hidden;
}
.cid-tvXrCM8Hz9 .section-border-item {
  background-color: #fcdb42;
}
.cid-tvXrCM8Hz9 .mbr-text {
  color: #FFFFFF;
}
.cid-tvXrCM8Hz9 .media-container-row .mbr-text {
  color: #ffffff;
}
